# {{ ansible_managed }}

PasswordAuthentication no
PermitRootLogin {{ ssh_hardening_permit_root_login }}
PermitEmptyPasswords no
KbdInteractiveAuthentication {{ ssh_hardening_kbdinteractiveauthentication }}
HostbasedAuthentication no
MaxAuthTries {{ ssh_hardening_max_auth_tries }}
X11Forwarding no
ClientAliveInterval {{ ssh_hardening_client_alive_interval }}
ClientAliveCountMax {{ ssh_hardening_client_alive_count_max }}
AllowUsers {{ ssh_hardening_allowed_users }}
HostKeyAlgorithms {{ ssh_hardening_host_key_algorithms }}
KexAlgorithms {{ ssh_hardening_kex_algorithms }}
Ciphers {{ ssh_hardening_ciphers }}
MACs {{ ssh_hardening_macs }}
